// Body
$body-bg: #f8fafc;

$primary: #16425F;
$secondary: #95A1A8;
$success: #198754;
$info: #97D8C4;
$warning: #F4B942;
$danger: #DC1919;
$light: #f0f0f0;
$dark: #0b0f22;
$forest: #007e58;
$violet: #4b3268;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "forest": $forest,
    "violet": $violet,
) !default;


// Typography
$font-family-sans-serif: 'Exo 2', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;


